<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="widget1">
                    <div class="logo mb-5">
                        <h5 class="text-white text-uppercase">Company</h5>
                    </div>
                    <h6 class="text-white mb-4">About Wego</h6>
                    <h6 class="text-white mb-4">Press</h6>
                    <h6 class="text-white mb-4">Careers</h6>
                    <h6 class="text-white mb-4">Contact Us</h6>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget2">
                    <h5 class="text-uppercase">
                        Learn More
                    </h5>
                    <div class="media">
                        <h6 class="text-white mb-4">Book on Wego</h6>
                        <h6 class="text-white mb-4 d-flex align-content-center">WegoPro Business Travel <button class="btn btn-gold text-uppercase">New</button></h6>
                        <h6 class="text-white mb-4">Affiliates</h6>
                        <h6 class="text-white mb-4">Advertise</h6>
                        <h6 class="text-white mb-4">Hoteliers</h6>
                        <h6 class="text-white mb-4">Data Privacy Policy</h6>
                        <h6 class="text-white mb-4">Terms</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="widget3">
                    <h5 class="text-uppercase">
                        Explore
                    </h5>
                    <h6 class="text-white mb-4">Airport Directory</h6>
                    <h6 class="text-white mb-4">Airlines Directory</h6>
                    <h6 class="text-white mb-4">Flight Schedules</h6>
                    <h6 class="text-white mb-4">Hotel Chains</h6>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="widget4">
                    <h5 class="text-uppercase">
                        Download
                    </h5>
                    <h6 class="text-white mb-4">Wego App (iOS)</h6>
                    <h6 class="text-white mb-4">Wego App (Android)</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="copyRightArea">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center footer-end">
                    <p>&copy; 2024 Wego Pte Ltd</p>
                    <div class="footer-icons">
                        <a href=""><i class="fa-brands fa-fw fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-fw fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-fw fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-fw fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-fw fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-fw fa-snapchat"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>