<nav class="navbar navbar-expand-lg pb-0 border-bottom">
    <div class="container">
        <div class=" d-flex align-items-center me-3">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/nav-dark.png" alt="Bootstrap" width="100" height="40">
            </a>
        </div>
        <button class="navbar-toggler mb-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pb-3">
                    <a class="nav-link"  routerLinkActive="active" data-bs-toggle="active" routerLink="home">Flights</a>
                </li>
                <li class="nav-item pb-3">
                    <a class="nav-link"  routerLinkActive="active" data-bs-toggle="active" routerLink="hotels">Hotels</a>
                </li>
                <li class="nav-item pb-3">
                    <a class="nav-link"  routerLinkActive="active" data-bs-toggle="active" routerLink="travels">WegoPro&nbsp;Business Travel</a>
                </li>

                <li class="nav-item pb-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cashback</a></li>
                        <li><a class="dropdown-item" href="#">Travel Blog</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                Lorem ipsum dolor sit amet.
            </div>
        </div>
    </div>
</nav>
